@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
}
</style>
<div class="text-center">
    <h1 class="display-4">Hospital das Clinicas de Jundiai</h1>   
</div>
<img src="~/img/hospital.jpg" alt="hospital" width="500" height="333">
<table style="width:100%">
    <tr>
        <th>Clinica Geral</th>
        <th>U.T.I</th>
        <th>Ortopedia</th>
        <th>Pediatria</th>
        <th>Semi Intensiva </th>
        <th>Coronaria</th>
    </tr>
</table>
