@{
    ViewData["Title"] = "Medicação";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-color: lightblue;
    }

    h1 {
        color: white;
        text-align: center;
    }

    p {
        font-family: verdana;
    }
</style>

<form action="/action_page.php">
  <label for="fname">Paciente:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Medicação:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="name">Enfermeira:</label><br>
  <input type="text" id="name" name="name" value=""><br><br>
  <label for="lname">Horario:</label><br>
  <input type="time" id="lname" name="lname" value=""><br><br>
    <form action="/action_page.php">
        <textarea name="message" rows="10" cols="30"></textarea>
        <br><br>
    </form>
  <input type="submit" value="Inserir">
</form>
